
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'mukta', sans-serif;
}
body{
    background-color: #D1D5D8;
}
/*Container Section*/
.container{
    width: 400px;
    background-color: rgb(22, 19, 19);
    border-radius: 50px 50px 50px 50px;
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    transform: translatey(10%);
    flex-direction: column;

}
.container h2{
    margin: 2rem 0;
    text-align: center;
    padding-bottom: 1em;
    color: rgb(251, 246, 246);
    font-family: 'Mutka', sans-serif;
    border-bottom: 1px solid;
    font-size: 2rem;
}
/*Form Section*/

.form{
    margin-bottom: 2rem;
    margin-top: 0.2rem;
}
.form label, input {
    display: block;
    width: 100%;
}

img{
    width: 15%;
    align-self: center;
}
.form label {
margin-bottom: 1rem;
color: rgb(253, 250, 250);
font-size: 18px;
}
.form input {
padding: 10px;
border: 0;
outline: none;
margin-bottom: 10px;
margin-top: 1px;
font-size: 0.8rem;
}

/*Forgot Pass Section*/

#forgot-pass {
    text-align:right;
    display: block;
    color:white;
    font-size: small;
    text-decoration: none;
}
#forgot-pass:hover{
    color:#87969e;
    transition: 0.4ms;
}
/*Submit Section*/

.submit a{
    width: 100%;
    background: rgb(29, 28, 28);
    height: 50px;
    padding: 15px;
    margin-top: 3px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 7px;
}
.submit a:hover{
color: white;
background: rgb(39, 37, 37);
transition: 0.5ms;
}

/*Submit2 Section*/

.submit-2 a{
    width: 100%;
    align-self: center;
    background: rgb(29, 28, 28);
    height: 50px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 7px;
}
.submit-2 a:hover{
color: white;
background: rgb(39, 37, 37);
transition: 0.5ms;
}


/*navbar Section*/

.nav-img {    
    width: 70em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-top: 3px;
    margin-left: 1em;
  }

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: black;
    height: 6vh;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 20px;
  }
  
  .nav-list li {
    letter-spacing: 2px;
    font-size: 14px;
    margin-left: 32px;
    margin-right: 1px;
     
  }
  .nav-list li a{
    text-decoration: none;
    color: white;
  }
  .nav-list li a:hover{
color: rgb(99, 96, 96);
transition: 0.4ms;
  }
  
  .logo{
    text-decoration: none;
    color: white;
  }

    /*Register*/
    #register-container p{
        margin-bottom: 2px;
        margin-top: -2px;
        text-align: center;
        color: white;
        
    }
    #register-container a{
        text-decoration: none;
        color: white;
        font-size: medium;
        text-align: center;
        
    }
   #register-container a:hover{
        color:  #87969e;
        transition: 0.2ms;
        text-align: center;
        }
